/* Google fonts import [Tajawal & Lata] */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL MESSAGE: any comment including two dollar signs ($$) still needs to be reviewed/potentially adjusted */

/* General formatting */
header {
    background-color: #ffffff;
    color: #282828;
    padding: 0 1rem;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #282828;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

main {
    background-color: wheat;
    margin-top: 47px;
    /* making sure that the main element takes most of the space */
    flex: 1 0 auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #282828;
    font-family: 'Tajawal', sans-serif;

}

h1 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #282828;
    font-size: 100%;
}


#menu {
    letter-spacing: 2px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

/* Navigation bar - mobile */
nav {
    width: 100%;
    top: 100%;
    padding: 0 2px;
    position: absolute;
    background: #ffffff;
    box-shadow: 0 2px 2px #282828;
    display: none;
}

nav>ul {
    list-style-type: none;
}

.active {
    color: #0000ff;
}

#nav-mobile-toggle:checked~nav {
    display: block;
}

#nav-mobile-toggle {
    display: none;
}

.nav-mobile-toggle-label {
    font-size: 2rem;
}

.link-to-contact-form {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: #282828;
    margin: 20px 25% 20px 25%;
    box-shadow: 0 2px 2px #282828;
    border-radius: 12px;
    padding-top: 10px;
}

.go-to-contact-button {
    text-decoration: none;
    color: #ffffff;
}

.header-cover-text {
    display: flex;
    position: relative;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 100%;
    padding: 30px 10px 32px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact-header-cover-text {
    display: flex;
    position: relative;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.chapter-left {
    flex-direction: row;
    background: wheat;
    color: #282828;
    padding: 1rem 2rem;
    border-bottom: 2px #282828 dotted;
    border-top: 2px #282828 dotted;
}

.chapter-right {
    flex-direction: row-reverse;
    background: wheat;
    color: #282828;
    padding: 1rem 2rem;
    border-bottom: 2px #282828 dotted;
    border-top: 2px #282828 dotted;
}

.general-chapter {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.hidden-heading {
    display: none;
}

/* Home page - mobile */
#hero-choice {
    display: flex;
    width: 100%;
    column-count: 2;
    column-gap: 5px;
    justify-content: space-evenly;
    padding-top: 5px;
}

#hero-1 {
    display: flex;
    height: 400px;
    left: 20px;
    width: 90%;
    background: url("../images/Bert-Ridder-study-cropped.png") no-repeat center center/cover;
    position: relative;
    border-radius: 12px;

}

#hero-2 {
    display: flex;
    height: 400px;
    width: 90%;
    background: url("../images/Bert-Ridder-conducting-1-cropped.png") no-repeat center center/cover;
    position: relative;
    border-radius: 12px;
}

.cover-text {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

/* snippit texts - mobile */
.homepage-snippit {
    padding: 20px 5%;
    margin-top: 20px;
    text-align: left;
}

.general-chapter>h3 {
    padding-bottom: 2px;
}

/* Conducting page - mobile */
#conducting-hero {
    position: relative;
    max-height: 200px;
    width: 100%;
    background: url("../images/Bert-Ridder-Conducting-cropped-conducting-page.png") center no-repeat;
    background-size: cover;
}

#interim-orchestras>li {
    margin-left: 15px;
}

.orchestra-logo {
    max-width: 150px;
    max-height: 150px;
    column-gap: 15px;
    font-weight: 100;
}

#orchestra-list {
    padding-left: 20px;
    background-color: #3a3a3a;
    color: #fafafa;
    padding: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
}

#orchestra-list>table {
    width: 100%;
    text-decoration: none;
}

th {
    font-weight: normal;
    text-decoration: none;
}

.snippit-header {
    font-weight: bold;
}

/* Teaching page - mobile */
#teaching-hero {
    position: relative;
    max-height: 200px;
    width: 100%;
    background: url("../images/Bert-Ridder-teaching-trombone-at-Muziekschool-Boedijn-cropped-teaching-page.png") center no-repeat;
    background-size: cover;
}

/* Musician page - mobile */
#musician-hero {
    position: relative;
    max-height: 200px;
    width: 100%;
    background: url("../images/Bert-Ridder-study-cropped-musician-page.png") center no-repeat;
    background-size: cover;
}

/* Contact page - mobile */

#contact-hero {
    position: relative;
    max-height: 200px;
    width: 100%;
    background: url("../images/Ridder-muziek-service-logo.png") center no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 120%;
}

#contact {
    position: relative;
    width: 100%;
    border: 2px dotted #3a3a3a;
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.9);
    padding: 20px 15%;
    margin: 5px auto;
}

#open-text {
    min-height: 100px;
    width: 80%;
}

.get-in-touch-button {
    display: flex;
    position: relative;
    justify-content: left;
    box-shadow: 0 2px 2px #282828;
    border-radius: 12px;
    padding: 2px 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Contact Thank you page - mobile */

.thank-you {
    margin-top: 20px;
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
}

/* Footer - mobile */
footer {
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-top: 1px solid rgba(60, 60, 60, 0.6);
    color: #282828;
    background-color: #d4d4d4;
    padding-top: 20px;
}

#social-networks {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        padding-top: 1rem;
    }

    main {
        padding-top: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-mobile-toggle-label {
        display: none;
    }

    .header-cover-text {
        width: 100%;
        padding: 30px 10px 32px 10px;
        padding-top: 40px;
        padding-bottom: 32px;
        font-size: 150%;
    }

    .general-page-layout {
        font-size: 130%;
    }

    .link-to-contact-form {
        display: flex;
        position: relative;
        font-size: 150%;
        justify-content: center;
        text-align: center;
        background-color: #282828;
        margin: 20px 25% 20px 25%;
        box-shadow: 0 2px 2px #282828;
        border-radius: 12px;
        padding-top: 10px;
    }

    /* home page - tablet and up*/

    /* hero images - tablet and up */
    #hero-choice {
        max-width: 80%;
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
    }

    .cover-text {
        background-color: rgba(60, 60, 60, 0.6);
    }

    .cover-text:hover {
        background: transparent;
    }

    /* Conducting page - tablet and up */
    #orchestra-list {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 130%;
    }

    .orchestra-logo {
        max-width: 200px;
        max-height: 200px;
        column-gap: 15px;
        font-weight: 100;
    }

    /* Teaching page - tablet and up */
    .general-page-layout,
    .homepage-snippit {
        padding-left: 15%;
        padding-right: 15%;
    }

    /* Contact page - tablet and up */

    #contact-background-image {
        background: url("../images/Music-stock-background.jpg") no-repeat center center/cover;
        background-size: cover;
        background-position: 75%;
    }

    #contact {
        position: absolute;
        width: 90%;
        max-width: 330px;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
        margin-left: 10%;
        margin-top: 5%;
        justify-content: center;
        border: 2px solid #3a3a3a;
        border-radius: 25px;
    }

    .thank-you {
        position: absolute;
        width: 330px;
        border: 2px dotted #3a3a3a;
        border-radius: 25px;
        color: #ffffff;
        background-color: rgba(60, 60, 60, 0.9);
        padding: 20px 15%;
        margin: 5px auto;

    }

    .contact-header-cover-text {
        font-size: 130%;
    }

    #thank-you-buttons {
        margin-top: 5rem;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .header-cover-text {
        font-size: 200%;
    }

    #conducting-hero,
    #teaching-hero,
    #musician-hero,
    #contact-hero {
        max-height: 250px;
    }

    #hero-1,
    #hero-2 {
        font-size: 150%;
    }

    .link-to-contact-form {
        display: flex;
        position: relative;
        font-size: 200%;
        justify-content: center;
        text-align: center;
        background-color: #282828;
        margin: 20px 25% 20px 25%;
        box-shadow: 0 2px 2px #282828;
        border-radius: 12px;
        padding-top: 10px;
    }


    #contact {
        position: relative;
        width: 90%;
        max-width: 600px;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
        margin-left: 10%;
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: center;
        font-size: 150%;
        border: 2px solid #3a3a3a;
        border-radius: 25px;
    }

    table,
    th,
    td {
        padding: 0 10px;
    }

    .contact-header-cover-text {
        font-size: 150%;
    }

    #thank-you-buttons {
        margin-top: 5rem;
    }

}