/* Google fonts import [Tajawal & Lata] */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General formatting */
header {
    background-color: #ffffff;
    color: #282828;
    padding: 0 1rem;
    width: 100%;
    position: fixed;
    z-index: 99; 
    box-shadow: 0 2px 2px #282828;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a { 
    text-decoration: none;
    color: inherit;
}

main {
    background-color: lightblue;
    margin-top: 47px;
        /* making sure that the main element takes most of the space */
        flex: 1 0 auto;
}

footer {
    background-color: lightgreen;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #282828;
    font-family: 'Tajawal', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #282828;
    font-size: 150%; /* to fit the mobile screen $$ NEEDS UPDATING */
}


#menu {
    letter-spacing: 2px;
    font-size: 110%;
}

#menu > li {
    margin-bottom: 1em;
}

/* Navigation bar */
nav {
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 1rem;
    position: absolute;
    background: #ffffff;
    box-shadow: 0 2px 2px #282828;
    display: none;
}

/* unable to make this format function within the #menu ID $$ needs to be reviewed */
ul {
    list-style-type: none;
  }

.active {
    color: #0000ff;
}

#nav-mobile-toggle:checked~nav {
    display: block;
}

#nav-mobile-toggle {
    display: none;
}

.nav-mobile-toggle-label {
    font-size: 2rem;
}

.link-to-contact-form {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: #282828;
    margin: 20px 25% 20px 25%;
    box-shadow: 0 2px 2px #282828;
    border-radius: 12px;
    padding-top: 10px;
}

.go-to-contact-button {
    text-decoration: none;
    color: #ffffff;
}

/* Home page */
#hero-choice {
    display: flex;
    width: 100%;
    column-count: 2;
    column-gap: 5px;
    justify-content: space-evenly;
    padding-top: 5px;
}

#hero-1 {
    height: 400px;
    width: 50%;
    background: url("../images/Bert-Ridder-study-cropped.png") no-repeat center center/cover;
    position: relative;
    
}
#hero-2 {
    height: 400px;
    width: 50%;
    background: url("../images/Bert-Ridder-conducting-1-cropped.png") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    width: 100%;
    height: 100%;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

#conducting-snippit {
    margin-top: 10px;
}

#conducting-short {
    width: 90%;
    padding: 10px 5px;
    font-weight: 200;
    column-gap: 10px;
}

#teaching-snippit {
    margin-top: 10px;
}

#teaching-short {
    width: 90%;
    padding: 10px 5px;
    font-weight: 200;
    column-gap: 10px;
}

/* Conducting page */

/* Teaching page */
section div > .teaching-chapter {
    margin-top: 5px;
    margin-bottom: 5px;
}

#teaching-info > div {
    padding-top: 10px;
}

/* Contact page */
.get-in-touch-button {
    display: flex;
    position: relative;
    justify-content: left;
    box-shadow: 0 2px 2px #282828;
    border-radius: 12px;
    padding: 2px 5px;
    margin-top: 10px;
}

#contact {
    background-color: #ffffff; /* just to showcase the section $$ to be removed */
    position: absolute;
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

#open-text {
    min-height: 100px;
    width: 80%;
}

/* Footer */
footer {
    text-align: center;
    width: 100%;
    padding-top: 5px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* hero images */
    #hero-choice {
        max-width: 80%;
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
    }

    #cover-text {
        background-color: rgba(60, 60, 60, 0.6);
    }

    #cover-text:hover {
        background: transparent;
    }

    #conducting-snippit {
        display: flex;
        margin-top: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    #teaching-snippit {
        display: flex;
        margin-top: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }

.teaching-page {
    margin: 0 10%;
}
}