/* Google fonts import [Tajawal & Lata] */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General formatting */
header {
    background-color: #146525;
    color: #ffffff;
    padding: 0 1rem;
    width: 100%;
    position: fixed;
    z-index: 99; 
    box-shadow: 0 2px 2px #3a3a3a;
}

main {
    background-color: lightblue;
}

footer {
    background-color: lightgreen;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Tajawal', sans-serif;
}

main {
    background-color: lightblue;
    /* making sure that the main element takes most of the space */
    flex: 1 0 auto;
}

h1 {
    font-family: 'Lato', sans-serif;
}

/* Navigation bar */
nav {
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 2rem;
    position: absolute;
    background: #ffffff;
    box-shadow: 0 2px 2p #3a3a3a;
    display: flex;
}

#nav-mobile-toggle:checked~nav {
    display: block;
}

/* Conducting page */

/* Teaching page */

/* Contact page */


/* Footer */



